# Eclipse workspace metadata
.metadata/

# STM32 build output
**/Debug/
**/Release/
**/*.o
**/*.d
**/*.su
**/*.cyclo
**/*.elf
**/*.map
**/*.list
**/*.bin
**/*.hex

# Generated binaries and IDE artifacts
**/*.exe
**/*.pdom